html,
body {
    height: 100%;
}
a {
    text-decoration: none;
}
.navbar {
    transition: all 0.5s ease-in-out 0s;
}
.bg-nav {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
}
.bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            64.88deg,
            rgba(141, 255, 248, 0.79) 8.43%,
            rgba(79, 181, 255, 0.79) 92.27%
        );
}
.bg-about {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
    height: 600px;
}
body.theme-dark .navbar {
    position: fixed;
}
.height {
    height: 100%;
}

.btn-color {
    background-color: #1e97af;
}
.btn-color:hover {
    background-color: #25adc8;
}

.margin-form {
    margin: 0 140px;
}

.logo {
    width: 25%;
}
.logo img {
    width: 50%;
}

.logo-login img {
    width: 50%;
}
.illus-login img {
    width: 60%;
}

.header-about {
    padding-top: 100px;
}

@media only screen and (max-width: 767px) {
    .margin-form {
        margin: 0 12px;
    }
    .logo {
        width: 74%;
    }
    .logo img {
        width: 50%;
    }
    .logo-login img {
        width: 50%;
    }
    .illus-login img {
        width: 50%;
    }
    .illust-about {
        width: 100%;
        margin-top: 20px;
    }

    .bg-about {
        height: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .logo {
        width: 45%;
    }
}
