html,
body {
    height: 100%;
}
a {
    text-decoration: none;
}
.bg.footer {
    height: 100%;
}
.bg-home {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            243.3deg,
            rgba(141, 255, 248, 0.79) 0%,
            rgba(79, 181, 255, 0.79) 100%
        );
    height: 100%;
    position: relative;
}
.illust-home {
    z-index: 10;
    position: relative;
}
html[data-bs-theme="dark"] * .poligon {
    border-bottom: solid 500px #151521;
}
.poligon {
    position: absolute;
    right: 0;
    bottom: -1px;
    height: 0px;
    width: 0;
    border-bottom: solid 440px #f2f7ff;
    border-left: solid 500px transparent;
    border-right: solid 0px transparent;
    z-index: 2;
}
.bg-transparent.active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
}
.bg-nav {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
}
.bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
}
.bg-about {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
    height: 600px;
}
html[data-bs-theme="dark"] * .navbar {
    position: fixed;
}
.height {
    height: 100%;
}

.btn-color {
    background-color: #1e97af !important;
}
.btn.btn-color:active {
    background-color: #1e97af !important;
}
.btn-color:hover {
    background-color: #259eb7 !important;
}

.margin-form {
    margin: 0 120px;
}
.logo-smk4 {
    width: 30%;
}
.logo-smk4 ~ span {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 97.39%;
}
.sidebar-header .logo {
    width: 200%;
}
html[data-bs-theme="dark"] * .sidebar-header .logo {
    width: 200%;
}
.sidebar-header .logo img {
    width: 22%;
    height: 100%;
}
.sidebar-header .logo span {
    color: #4563a8;
}
html[data-bs-theme="dark"] * .sidebar-header .logo img {
    width: 23%;
    height: 100%;
}
html[data-bs-theme="dark"] * .sidebar-header .logo span {
    color: white;
}
.logo {
    width: 25%;
}
.logo img {
    width: 50%;
}

.logo-login img {
    width: 50%;
}

.login-1 {
    top: -35%;
    right: 0;
    z-index: -2;
}
.login-2 {
    bottom: 9.5%;
    transform: scaleX(-1);
    z-index: -2;
}
.illus-login img {
    width: 60%;
}

.header-about {
    padding-top: 100px;
}

.login-card-header {
    border-top: 2px solid #435ebe;
}

.alur-lapor {
    width: 100%;
    height: 100%;
}

.alur-lapor .col:nth-child(1) .ellipse {
    background: #1a9fbb;
}
.ellipse {
    padding: 19px;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}
html[data-bs-theme="dark"] * .ellipse {
    background-color: #1e1e2d;
}
html[data-bs-theme="dark"] * .ellipse img {
    filter: invert(100%) sepia(3%) saturate(7495%) hue-rotate(337deg)
        brightness(123%) contrast(95%);
}
html[data-bs-theme="dark"] * .col:nth-child(1) .ellipse img {
    filter: none;
}
html[data-bs-theme="dark"] * .col:last-child .ellipse img {
    filter: none;
}
.ellipse:hover,
html[data-bs-theme="dark"] * .ellipse:hover {
    background: #1a9fbb;
    transition: 0.5s all;
}
.ellipse:hover img {
    filter: invert(100%) sepia(3%) saturate(7495%) hue-rotate(337deg)
        brightness(123%) contrast(95%);
}
.col:nth-child(1) .ellipse:hover img {
    filter: none;
}

.col:last-child .ellipse img {
    filter: invert(0%) sepia(4%) saturate(2%) hue-rotate(318deg) brightness(16%)
        contrast(100%);
}
.col:last-child .ellipse:hover img {
    filter: none;
}
.ellipse img::selection {
    background-color: transparent;
}
.garis {
    margin-top: 2.5%;
    position: absolute;
    width: 65%;
    height: 1.5px;
    background-color: gray;
    left: 17%;
    z-index: 1;
}

html[data-bs-theme="dark"] * .ellipse ~ .h5 {
    font-size: inherit;
}

.btn-lapor {
    border-color: #1a9fbb !important;
    color: #1a9fbb !important;
    padding: 0.7rem 5rem !important;
}
.btn-lapor:hover {
    background-color: #1994ac !important;
    color: white !important;
    box-shadow: 4px 3px 38px -13px #1994ac;
}
a.btn.btn-lapor:active {
    background-color: #13aac8 !important;
    color: white !important;
}
.jumlah-lapor {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            243.3deg,
            rgba(141, 255, 248, 0.79) 0%,
            rgba(79, 181, 255, 0.79) 100%
        );
    padding-bottom: 5px;
}
.ql-editor.ql-blank::before {
    color: inherit !important;
}
div.ql-editor {
    padding-bottom: 50px;
}
html[data-bs-theme="dark"] .ql-editor.ql-blank p {
    margin-bottom: 0;
}
html[data-bs-theme="dark"] .ql-snow .ql-stroke {
    stroke: #c2c2d9;
}
html[data-bs-theme="dark"] .ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
    fill: #c2c2d9;
}
html[data-bs-theme="dark"] .ql-snow .ql-picker {
    color: inherit;
}
html[data-bs-theme="dark"] .filepond--drop-label {
    background-color: #181826;
}

/* Datatable icons */
.fa-fw {
    color: #ebebeb;
    /* color: #1e1e2d; */
}
/* html[data-bs-theme="dark"] * .fa-fw {
    color: #ebebeb;
} */

.card-keuntungan .ellipse {
    background-color: #1a9fbb;
    box-shadow: 0px 0px 50px 3px rgba(26, 159, 187, 0.3);
}
html[data-bs-theme="dark"] .card-keuntungan .ellipse {
    background-color: #1a9fbb;
}
.card-keuntungan .ellipse img.icon-keuntungan {
    filter: none;
}
html[data-bs-theme="dark"] .card-keuntungan .ellipse img.icon-keuntungan {
    filter: none;
}
.card-keuntungan .ellipse:hover {
    background-color: #ffffff;
}
html[data-bs-theme="dark"] .card-keuntungan .ellipse:hover {
    background-color: #ffffff;
}
.card-keuntungan .card:hover .ellipse {
    background-color: #ffffff;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.65);
}
.card-keuntungan .card:hover .ellipse img.icon-keuntungan {
    filter: invert(99%) sepia(5%) saturate(0%) hue-rotate(274deg)
        brightness(114%) contrast(100%);
    transition: 0.5s ease-in-out;
}
html[data-bs-theme="dark"] .card-keuntungan .card:hover .ellipse {
    background-color: #ffffff;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.65);
}
html[data-bs-theme="dark"]
    .card-keuntungan
    .card:hover
    .ellipse
    img.icon-keuntungan {
    filter: invert(99%) sepia(5%) saturate(0%) hue-rotate(274deg)
        brightness(114%) contrast(100%);
    transition: 0.5s ease-in-out;
}

.card-keuntungan .card:hover {
    background-color: #1a9fbb;
    transition: 0.8s ease-in-out;
}

.card-keuntungan .card:hover .ellipse ~ h5 {
    color: #ffffff;
    transition: 0.5s ease-in-out;
}
.card-keuntungan .card:hover .ellipse ~ p {
    color: #ffffff;
    transition: 0.5s ease-in-out;
}

.card-keuntungan .card {
    width: 100%;
    height: 100%;
}
#pagin-links p {
    margin-right: 20px;
}
#pagin-links .page-link.active,
.active > .page-link {
    background-color: #1e97af;
    border-color: #1e97af;
}
html[data-bs-theme="dark"] #pagin-links .page-link.active,
.active > .page-link {
    color: #ffffff !important;
    background-color: #1e97af !important;
    border-color: #1e97af !important;
}
#pagin-links .page-link {
    color: #435ebe;
}
html[data-bs-theme="dark"] #pagin-links .page-link {
    color: #7c8db5;
    background-color: #1e1e2d;
    border-color: #0f0f15;
}
html[data-bs-theme="dark"] .navbar .navbar-collapse .nav .nav-item .nav-link {
    border-color: #dee2e6 !important;
}
.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}
.show-password {
    position: absolute;
    left: auto;
}

.subnav {
    text-decoration: none;
    list-style-type: none;
    font-size: 1.125rem;
}

.subnav-active {
    font-weight: bold;
    border-bottom: 2px solid #1e97af;
    padding-bottom: 0.5rem;
    transition: 0.5s ease-in-out;
}

.subnav:hover {
    color: #1e97af;
}

input::placeholder {
    opacity: 0.6 !important;
}

.attachment-file {
    -webkit-box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    border: 0;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid #c2c2d9;
    border-radius: 0.42rem;
}

html[data-bs-theme="dark"] .attachment-file {
    border: 1px solid #404053;
}

.attachment-file-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2.25rem;
}

.attachment-file-footer {
    padding: 2rem 2.25rem;
    background-color: transparent;
    border-top: 1px solid #c2c2d9;
}

html[data-bs-theme="dark"] .attachment-file-footer {
    border-top: 1px solid #404053;
}

.icon-9x {
    font-size: 9rem !important;
}

html[data-bs-theme="dark"] .ql-editor p {
    margin-bottom: 0;
}

@media only screen and (max-width: 374px) {
    .login-2 {
        left: 450px;
        display: none;
    }
    .margin-form {
        margin: 0 15px;
    }
    .logo {
        width: 74%;
    }
    .logo img {
        width: 50%;
    }
    .logo-login img {
        width: 50%;
    }
    .illus-login img {
        width: 50%;
    }
    .illust-about {
        width: 100%;
        margin-top: 20px;
    }
    .logo-smk {
        width: 70%;
    }
    .bg-about {
        height: 100%;
    }
    .alur-lapor {
        margin-left: 0.2px;
    }
    html[data-bs-theme="dark"] * .alur-lapor {
        margin-left: 0.2px;
    }
    .alur-lapor .col {
        width: 50px !important;
    }
    .garis {
        margin-top: 6%;
        left: 10%;
        width: 80%;
    }
    .ellipse {
        padding: 7px;
        width: 40px;
        height: 40px;
    }
    .ellipse img {
        width: 20px;
    }
    .ellipse ~ h5 {
        font-size: 10px !important;
    }
    .card-keuntungan .ellipse ~ h5 {
        font-size: 18px !important;
    }
    html[data-bs-theme="dark"] .card-keuntungan .ellipse ~ h5 {
        font-size: 18px !important;
    }
    html[data-bs-theme="dark"] * .ellipse ~ h5 {
        font-size: 10px !important;
    }
    .btn-lapor {
        padding: 0.5rem 2rem !important;
    }
    .logo-smk4 {
        width: 30%;
    }
    .logo-smk4 ~ span {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 97.39%;
    }
    #tanggapan-student {
        padding: 2rem 0.8rem !important;
    }
    .hashtag {
        font-size: 100% !important;
    }
    .navbar-expand .navbar-nav .dropdown-menu {
        position: fixed;
    }
    .dropdown-menu[data-bs-popper] {
        top: 17%;
        left: 0;
        right: 0;
    }
}
@media only screen and (max-width: 576px) {
    .login-2 {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .login-2 {
        display: none;
    }
}

@media only screen and (min-width: 360px) and (max-width: 360.9px) {
    .dropdown-menu[data-bs-popper] {
        top: 12%;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 373px) and (max-width: 430px) {
    .margin-form {
        margin: 0 15px;
    }
    .logo {
        width: 74%;
    }
    .logo img {
        width: 50%;
    }
    .logo-login img {
        width: 50%;
    }
    .illus-login img {
        width: 50%;
    }
    .illust-about {
        width: 100%;
        margin-top: 20px;
    }
    .logo-smk {
        width: 70%;
    }
    .bg-about {
        height: 100%;
    }
    .alur-lapor {
        margin-left: 1px !important;
    }
    .garis {
        margin-top: 5.5%;
        left: 10%;
        width: 80%;
    }
    .ellipse {
        padding: 7px;
        width: 40px;
        height: 40px;
    }
    .ellipse img {
        width: 20px;
    }
    .ellipse ~ h5 {
        font-size: 12px;
    }
    .card-keuntungan .ellipse ~ h5 {
        font-size: 20px !important;
    }
    html[data-bs-theme="dark"] .card-keuntungan .ellipse ~ h5 {
        font-size: 20px !important;
    }
    html[data-bs-theme="dark"] * .ellipse ~ h5 {
        font-size: 12px !important;
    }
    .btn-lapor {
        padding: 0.5rem 2rem !important;
    }
    .navbar-expand .navbar-nav .dropdown-menu {
        position: fixed;
    }
    .dropdown-menu[data-bs-popper] {
        top: 16%;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 375px) and (max-width: 375.9px) {
    .dropdown-menu[data-bs-popper] {
        top: 13%;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 390px) and (max-width: 393.9px) {
    .dropdown-menu[data-bs-popper] {
        top: 12%;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 412px) and (max-width: 429.9px) {
    .dropdown-menu[data-bs-popper] {
        top: 10%;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 425px) and (max-width: 425.9px) {
    .dropdown-menu[data-bs-popper] {
        top: 17%;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 430px) and (max-width: 570px) {
    .margin-form {
        margin: 0 15px;
    }
    .logo {
        width: 74%;
    }
    .logo img {
        width: 50%;
    }
    .logo-login img {
        width: 50%;
    }
    .illus-login img {
        width: 50%;
    }
    .illust-about {
        width: 100%;
        margin-top: 20px;
    }
    .card-keuntungan .ellipse ~ h5 {
        font-size: 20px !important;
    }
    html[data-bs-theme="dark"] .card-keuntungan .ellipse ~ h5 {
        font-size: 20px !important;
    }
    .logo-smk {
        width: 60%;
    }
    .bg-about {
        height: 100%;
    }
    .garis {
        margin-top: 5.9%;
        left: 10%;
        width: 75%;
    }
    .alur-lapor {
        margin-left: 1px !important;
    }
    .ellipse {
        padding: 10px;
        width: 55px;
        height: 55px;
    }
    .ellipse img {
        width: 35px;
    }
    .ellipse ~ h5 {
        font-size: 12px;
    }
    html[data-bs-theme="dark"] * .ellipse ~ h5 {
        font-size: 12px;
    }
    .btn-lapor {
        padding: 0.5rem 2rem !important;
    }
    .logo-smk4 {
        width: 20%;
    }
    .logo-smk4 ~ span {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 97.39%;
        width: 50%;
    }
    .navbar-expand .navbar-nav .dropdown-menu {
        position: fixed;
    }
    .dropdown-menu[data-bs-popper] {
        top: 14%;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 570px) and (max-width: 671px) {
    .margin-form {
        margin: 0 15px;
    }
    .logo {
        width: 74%;
    }
    .logo img {
        width: 50%;
    }
    .logo-login img {
        width: 50%;
    }
    .illus-login img {
        width: 50%;
    }
    .illust-about {
        width: 100%;
        margin-top: 20px;
    }
    .logo-smk {
        width: 60%;
    }
    .bg-about {
        height: 100%;
    }
    .garis {
        margin-top: 4.5%;
        left: 13%;
        width: 70%;
    }
    .ellipse {
        padding: 10px;
        width: 55px;
        height: 55px;
    }
    .card-keuntungan .ellipse ~ h5 {
        font-size: 20px !important;
    }
    html[data-bs-theme="dark"] .card-keuntungan .ellipse ~ h5 {
        font-size: 20px !important;
    }
    .ellipse img {
        width: 35px;
    }
    .ellipse ~ h5 {
        font-size: 12px;
    }
    .btn-lapor {
        padding: 0.5rem 2rem !important;
    }
    .navbar-expand .navbar-nav .dropdown-menu {
        position: fixed;
    }
    .dropdown-menu[data-bs-popper] {
        top: 18%;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 671px) and (max-width: 768px) {
    .margin-form {
        margin: 0 15px;
    }
    .logo {
        width: 74%;
    }
    .logo img {
        width: 50%;
    }
    .logo-login img {
        width: 50%;
    }
    .illus-login img {
        width: 50%;
    }
    .illust-about {
        width: 100%;
        margin-top: 20px;
    }
    .card-keuntungan .ellipse ~ h5 {
        font-size: 20px !important;
    }
    html[data-bs-theme="dark"] .card-keuntungan .ellipse ~ h5 {
        font-size: 20px !important;
    }
    .logo-smk {
        width: 60%;
    }
    .bg-about {
        height: 100%;
    }
    .garis {
        margin-top: 4.5%;
        left: 17.5%;
        width: 60%;
    }
    .ellipse {
        padding: 10px;
        width: 55px;
        height: 55px;
    }
    .ellipse img {
        width: 35px;
    }
    .ellipse ~ h5 {
        font-size: 12px;
    }
    .btn-lapor {
        padding: 0.5rem 2rem !important;
    }
    .navbar-expand .navbar-nav .dropdown-menu {
        position: fixed;
    }
    .dropdown-menu[data-bs-popper] {
        top: 18%;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 768.9px) {
    .navbar-expand .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .login-1 {
        right: 45%;
    }
    .login-2 {
        left: 45%;
    }
    p.fs-5 {
        font-size: 1.2rem !important;
    }
    .logo {
        width: 45%;
    }
    .margin-form {
        margin: 0 20px;
    }
    .poligon {
        border-bottom: solid 400px #f2f7ff;
        border-left: solid 400px transparent;
        border-right: solid 0px transparent;
    }
    .logo-smk {
        width: 120%;
    }
    .garis {
        margin-top: 4.5%;
        width: 64%;
        left: 16.5%;
    }
    .ellipse {
        padding: 19px;
        width: 75px;
        height: 75px;
    }
    .ellipse ~ h5 {
        font-size: inherit;
    }
    .btn-lapor {
        padding: 0.7rem 4rem !important;
    }
    .logo-smk4 {
        width: 30%;
    }
    .logo-smk4 ~ span {
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 97.39%;
    }
    .hashtag {
        font-size: 100% !important;
    }
    p.fs-5.sosial {
        font-size: 100% !important;
    }
    .bi.bi-github.fs-1 {
        font-size: calc(1.3rem + 1.5vw) !important;
    }
    .card-keuntungan .card {
        height: 360px !important;
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar-collapse .ms-auto {
        margin: 0 auto 0 0 !important;
    }
    .navbar-collapse .ms-auto#notif {
        margin: 0 0 0 auto !important;
    }
}
@media only screen and (min-width: 991px) and (max-width: 991.9px) {
    .logo img {
        width: 80% !important;
    }
    .garis {
        margin-top: 4% !important;
        width: 64% !important;
        left: 16.5% !important;
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar-collapse .ms-auto {
        margin: 0 auto 0 0 !important;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .login-1 {
        right: 55%;
    }
    .login-2 {
        left: 55%;
    }
    .garis {
        margin-top: 3.5%;
        width: 70%;
        left: 14.3%;
    }
    .btn-lapor {
        padding: 0.7rem 4rem !important;
    }
    .logo img {
        width: 60%;
    }
    .logo-smk4 {
        width: 30%;
    }
    .logo-smk4 ~ span {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 97.39%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .login-1 {
        right: 60%;
    }
    .login-2 {
        left: 60%;
    }
    .garis {
        margin-top: 2.8%;
        width: 70%;
        left: 14.3%;
    }
    .btn-lapor {
        padding: 0.7rem 4rem !important;
    }
    .logo-smk4 {
        width: 30%;
    }
    .logo-smk4 ~ span {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 97.39%;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1700px) {
    .login-1 {
        right: 65%;
    }
    .login-2 {
        left: 65%;
    }
    .garis {
        margin-top: 2.5%;
        width: 69%;
        left: 14%;
    }
    .btn-lapor {
        padding: 0.7rem 4rem !important;
    }
    .logo-smk4 {
        width: 30%;
    }
    .logo-smk4 ~ span {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 97.39%;
    }
    .page-content .row .col-12 .row .col-6:last-child .card .card-body {
        padding: 2rem 0.8rem !important;
    }
    #tanggapan-student {
        padding: 2rem 0.8rem !important;
    }
}
@media only screen and (min-width: 1700px) {
    .login-1 {
        right: 70%;
    }
    .login-2 {
        left: 70%;
    }
    .garis {
        margin-top: 1.5%;
        left: 29%;
        width: 42%;
    }
}
