html,
body {
    height: 100%;
}
a {
    text-decoration: none;
}
.bg.footer {
    height: 100%;
}
.bg-home {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            243.3deg,
            rgba(141, 255, 248, 0.79) 0%,
            rgba(79, 181, 255, 0.79) 100%
        );
    height: 100%;
    position: relative;
}
.illust-home {
    z-index: 10;
    position: relative;
}
body.theme-dark .poligon {
    border-bottom: solid 500px #151521;
}
.poligon {
    position: absolute;
    right: 0;
    bottom: -1px;
    height: 0px;
    width: 0;
    border-bottom: solid 440px #f2f7ff;
    border-left: solid 500px transparent;
    border-right: solid 0px transparent;
    z-index: 2;
}
.bg-transparent.active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
}
.bg-nav {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
}
.bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
}
.bg-about {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
            245.76deg,
            rgba(141, 255, 248, 0.79) 3.25%,
            rgba(79, 181, 255, 0.79) 100%
        );
    height: 600px;
}
body.theme-dark .navbar {
    position: fixed;
}
.height {
    height: 100%;
}

.btn-color {
    background-color: #1e97af;
}
.btn-color:hover {
    background-color: #25adc8;
}

.margin-form {
    margin: 0 120px;
}

.logo {
    width: 25%;
}
.logo img {
    width: 50%;
}

.logo-login img {
    width: 50%;
}
.illus-login img {
    width: 60%;
}

.header-about {
    padding-top: 100px;
}

@media only screen and (max-width: 767px) {
    .margin-form {
        margin: 0 15px;
    }
    .logo {
        width: 74%;
    }
    .logo img {
        width: 50%;
    }
    .logo-login img {
        width: 50%;
    }
    .illus-login img {
        width: 50%;
    }
    .illust-about {
        width: 100%;
        margin-top: 20px;
    }

    .bg-about {
        height: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .logo {
        width: 45%;
    }
    .margin-form {
        margin: 0 20px;
    }
    .poligon {
        border-bottom: solid 400px #f2f7ff;
        border-left: solid 400px transparent;
        border-right: solid 0px transparent;
    }
}
